APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO

CONFIGS_DIR=./configs/

CB_FEATURE_COLUMN=genres_decade_tags
CB_THRESHOLD=3.0
CF_THRESHOLD=4.0

PYTHONUNBUFFERED=1
OPENBLAS_NUM_THREADS=1
OMP_NUM_THREADS=1
MKL_NUM_THREADS=1 